.formContainer{
    width: 100%;
    border: 1px solid rgb(251, 249, 249);
    background-color: rgb(251, 249, 249);
    padding: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}
.formBody{
    margin-bottom: 1.5rem!important;
    display: flex;
    flex-direction: column;
}

.contactUs{
    margin-bottom: 1rem!important;
    font-size: calc(1.275rem + .3vw);
    font-weight: 600;
}
.number{
    font-size: calc(1.325rem + .9vw)!important;
    color: #860566;
    cursor: pointer;
}
.number:hover{
    text-decoration: underline;
    
}
.borderLine{
    border: 1px solid;
    margin: 24px 0px;
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    height: 1px;
    opacity: .25;
}

.formRows{
    display: flex;
    flex-direction: column;
    
}
.name > [type="text"]{
    
    height: calc(3.5rem + 2px);
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}

.email > [type="email"]{
    height: calc(3.5rem + 2px);
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;
}


textarea{
    height: calc(3.5rem + 2px);
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 10px;


}

.checkBox{
    display: flex;

}

.checkBox > [type="checkbox"]{
    
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    width: 1em;
    height: 1em;
    /* display: flex; */
    margin-bottom: 10px;


    

}
.iPreferText{
    padding-left: 10px;
}
.checkBox-input:checked:checked {
    background-color: #860566;
    border-color: #860566;}

button{
    cursor: pointer;
    margin-top: 0.5rem!important;
    width: 100%!important;
    color: #fff;
    background-color: #860566;
    border-color: #860566;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid ;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.agreeTo{
    margin-top: 12px;
    opacity: .75!important;
}

/* @media(max-width: 1400px){
    button{
        height: 60px;
    }
}

@media(min-width: 500px){
    button{
        height: 45px;
    }
}

@media(min-width: 500px){
    button{
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
} */