.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  



}

.buttonsAndFeaturesContainer{
  width: 80%;
  display: flex;
  column-gap: 10px;
  padding-top: 30px;
/* justify-content:space-evenly; */
}

.buttonsAndFeatures{
  width:70%; 
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.formContain{
  width: 30%;
  max-width: 500px;

}

@media(max-width: 1595px){
  .buttonsAndFeaturesContainer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  
  }
  .buttonsAndFeatures{
    width:100%; 
    max-width: 1300px;
  }
  .formContain{
    width: 100%;
    max-width: 1000px;
    
  
  }

}



